.hall-of-fame-container {
  padding: 20px;
  background-color: #f8f9fa;
  margin: 0;
  font-family: 'Roboto';
}

.hall-of-fame-title {
  text-align: center;
  font-size: 3rem;
  
}

.achievers-container {
  margin-top: 0px;
}

.achiever-card-content {
  padding: 0px;
  text-align: center;
}

.achiever-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.achiever-title {
  font-size: 1.2rem;
  color: #6c757d;
  text-align: center;
}

.achiever-description {
  font-size: 1rem;
  margin-top: 10px;
}

.all-achiever-image {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

.achievers-container .all-achiever-image {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

.point{
  font-size: 1rem;
}
