.announcement-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 15px auto; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  width: 50%; 
}
  .announcement-item h2 {
    margin-top: 0;
    font-size: 1.2rem;
  }
  
  .announcement-item p {
    margin: 5px 0;
    font-size: 0.9rem;
  }