.announcement-list{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  gap:10px
}
.announcement-item {
  background-color: #75cf6d41;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 15px auto; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  width: 45%; 
  text-align: center;
}
announcement-list h1{
   font-size: 2.0rem;

}
  .announcement-item h2 {
    margin-top: 0;
    font-size: 1.3rem; 
    font-weight: bold;
  }
  
  .announcement-item p {
    margin: 5px 0;
    font-size: 1.3rem;
  }
  .announcement-image{
    width: 200px;
    height: 200px;
    align-items: center;
  }
  .sports-event{
    margin:20px 20px;
    padding: 20px 10px;
    background: linear-gradient(145deg, #b3831c, #273d5a);
    color: #d8bb5bc5;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    box-shadow: 5px 5px 15px #a38a5e, -5px -5px 15px #fff4c4;
  }
  .sports-event h2{
    color: rgba(38, 41, 27, 0.808)
  }
  .general-announcements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }