.footer-container {
  background-color: #001529;
  color: #fff;
  height: 280px;
}

.footer-heading {
  font-weight: bold;
  padding-left: 100px;
}

.footer-heading-1 {
  font-weight: bold;
  margin-left: 100px;
}

.footer-item {
  margin-left: 100px;
  padding-left: 100px;
  color: #fff;
}

.footer-social-icon {
  display: block;
  padding-left: 100px;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding-left: 100px;
}

.footer-link:hover {
  color: #ff4081;
}

.footer-copyright {
  margin-top: 0px;
}

.footer-social-icon i {
  margin-right: 8px;
}

@media (max-width: 600px) {
  .footer-grid {
    display: block;
  }
}