.study-container {
  text-align: center;
  margin-bottom: 30px;
}

.study-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto';
}

.carousel-text {
  color: white;
}

.carousel-inner img {
  width: 70%; 
  height: 530px; 
  object-fit: fit; 
}
