.container{
    padding: 20px;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.container h3{
    font-size: 1.7rem;
    margin-bottom: 20px;
}
img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
img:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
p{
    font-size: 1.7rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
}
.location-container{
    background-image: url("https://maps.app.goo.gl/Ti2RswqPH3Wg9KuK6");
}
.image-row{
    display: flex;
    justify-content: space-between;
    gap:10px
}
.center-text {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: large; 
    margin-bottom: 40px;
}
iframe{
    margin-bottom: 20px;
}
