.container{
    padding: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
h3{
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 20px;
}

img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
img:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
p{
    font-size: 1rem;
    font-family: 'Times New Roman';
    margin-top: -10px;
    margin-bottom: 20px;
}
