.tab-container {
    display: flex;
    flex-direction: column;
}
.tabs {
    display: flex;
    cursor: pointer;
    background-color: #f1f1f1;
}
  
.tab {
    padding: 5px 20px;
    font-size: 16px;
    border: #ccc;
    font-family: 'Roboto';
    margin-right: 5px;
    background-color: #c46060ad;
    border-radius: 5px;
    position: relative;
}
  
.tab-content {
    padding: 10px 0px;
    width: 100%;
    margin: 0 auto;
}
  
.dropdown {
    display: none;
    position: absolute;
    font-size: 16px;
    top: 100%;
    left: 0;
    background-color: #bd2e2ea2;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1;
    
}
  
.tab:hover .dropdown {
    display: block;
    border: 1px solid gainsboro;
}
  
.dropdown div {
    padding: 10px;
    cursor: pointer;
}
  
.dropdown div:hover {
    background-color: #ddd;
    border: 1px solid gainsboro;
}
  
.arrow {
    margin-left: 5px;
}
.admission-default{
    font-size: 18px;
    font-family: 'Roboto';
    background-color: #bd8d8d13;
    border-radius: 10px;
    padding:20px;
    margin: 5px 0px;
    padding-left: 0;  
    margin-left: 100;  
    width: 1005; 
}
.admission-default h1{
    text-align: center;
    font-size: 30px;
    margin-left: 350px;
}
.admission-default h3{
    margin-left: 30px;
    color: #d32a2ae5;
}
.admission-default p{
    font-size: 18px;
    font-family: 'Roboto';
    background-color: rgba(207, 174, 131, 0.205);
    border-radius: 10px;
    text-align: left;
    padding: 50px;
    margin: 10px -8px 0px 20px;
}
.admission-default h1{
    color: rgb(2, 12, 12);
    text-align: left;
    font-family: 'Roboto';
}
.admission-pic1 {
    text-align: center;
  }
.admission-pic1 img {
    display: block;
    margin-top:30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;    
}
.admission-pic2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
  }
  
.admission-pic2 img {
    margin-top: 70px;
    margin-bottom: 50px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.admission-image {
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    position: relative;
}

.admission-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    margin-bottom: 10px;
    top: 0;
    left: 0;
}
.default2 h3{
   font-size: 25px;
   font-family: 'Roboto';
   text-align: center;
   padding: 5px 0px;
   margin: 20px 0px;
   background-color: rgb(218, 100, 100);
}
.default2 p{
    font-size: 18px;
    font-family: 'Roboto';
    padding: 20px;
    background-color: rgba(153, 78, 78, 0);
    border-radius: 0 20px 0 20px;
}
.footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 50px;
    justify-content: space-around;
    gap: 5px;
}
.footer-image img{
    padding: 5px;
    width: 230px;
    height: 230px;
}
.study-type{
    padding: 20px 30px;
    font-size: 16px;
}
.study-type h4{
    color: #e26b6b;
    padding-bottom: 3px;
}
.study-type h6{
    cursor: pointer;
    color: white;
}
.study-type h6:hover{
    color: #e26b6b;
}

.student-life{
    background-color: #babbbb1f;
    margin: 10px 10px;
    padding: 20px 10px;
    font-size: 18px;
    font-family: 'Roboto';
    border-radius: 5px;
}
.student-life button{
    border: none;
    background-color: #be2222d0;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    color: whitesmoke;
    margin-left: 20px;
}
.student-life button:hover{
    background-color:rgb(92, 24, 4);
}
.student-image1{
    margin: 10px;
    max-width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
}
.student-image1 img{
    border: 2px solid rgba(173, 143, 12, 0.288);
    border-radius: 6px 20px;
}
.student-image2 {
    margin: 20px;
    max-width: 62%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}
.student-image2 img{
    border: 2px solid rgba(56, 47, 5, 0.699);
    border-radius: 6px;
}
.student-image3{
    margin: 20px 230px;
    max-width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
}
.student-image3 img{
    border-radius: 50%;
}
.student-text1, .student-text3{
    background: rgba(143, 160, 152, 0.123);
    padding: 10px 10px;
    margin: 10px;
    border-radius: 10px 30px;
}
.student-text1 h2, .student-text3 h2{
    color: rgba(226, 38, 38, 0.76);
    text-align: center;
    padding: 10px;
    font-size: 40px;
}
.student-text1 h3{
    color: rgba(20, 18, 16, 0.932);
    padding-left:10px;
}
.student-text1 p{
    color: rgba(26, 26, 20, 0.925);
    padding: 10px;
}
.student-text3 p{
    padding: 0px;
    color: rgba(26, 26, 20, 0.925);
}
.student-text3 p strong{
    color: rgba(12, 12, 9, 0.952);
    line-height: 1.0;
}
.student-text2, .student-text4{
    background-color:rgba(95, 167, 119, 0.11);
    margin: 10px 10px;
    padding:10px 10px;
    border-radius: 5px;
}
.student-text2 h4{
    padding: 10px;
}
.student-text2 p{
    padding: 0px 10px;  
}
.student-text4 p{
    padding: 10px 10px; 
    color: #0e0f03f3; 
    text-align: center;
}
.student-text4 h4{
    padding: 10px;
    text-align: center;
    color: rgba(233, 43, 68, 0.938);
}
.student-text4 img{
    border-radius: 50%;
    max-width: 25%;
    margin-left: 470px;
}
.ug-images{
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    gap: 10px;
}
.ug-images img{
  border: 3px solid #973e3e8f;
  border-radius: 15px;
  padding: 20px;
}
.ug-image2{
    margin-top: 100px;
}
.courses{
    background-color: rgba(121, 101, 101, 0.13);
    font-size: 18px;
    font-family: 'Roboto';
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 15px;
}
.courses button{
    border: none;
    background-color: #be2222d0;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    color: whitesmoke;
    margin-left: 20px;
}
.courses button:hover{
    background-color: #d32a2a;
}
.course-text1, .course-text3 {
 
  margin: 10px;
  padding: 10px;
  background-color: rgba(209, 178, 183, 0.274);
  border-radius: 10px 50px;
}
.course-text1 h4 , .course-text3 h4 {
    color: rgba(27, 10, 10, 0.925);
    padding: 0px 10px;
}
.course-text3 {
    display: flex;
}
.course-structure{
    background-color:rgba(201, 167, 173, 0.329) ;
    margin: 10px;
    padding: 10px;
    border-radius: 10px 50px;
}
.course-text3 img{
    padding: 30px;
    border-radius: 40px;
}
.course-text1 p , .course-text3 p {
    color: rgba(0, 0, 0, 0.925);
    padding: 10px;
}
.course-text1 h2{
    color: rgba(196, 43, 5, 0.966);
    text-align: center;
    padding: 10px 0px;
}
.course-text2, .course-text4{
    background-color: rgba(255, 255, 255, 0.342);
    margin: 10px 10px;
    padding: 20px;
    border-radius: 0px 5px 10px 70px;
}
.course-text2 h4, .course-text2 p{
    padding: 0px 20px;
}
.course-text2 strong, .course-text4 strong{
    color: rgba(2, 31, 31, 0.993);
}
.course-text2-image{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px 0px; 
}
.course-text2-image img {
    width: 400px; 
    height: auto;
    border-radius: 20px;
    padding: 2px;
    
  }
.ug-course-image{
    display: flex;
    margin: 30px;
    justify-content: space-between;
}
.ug-course-image img{
    border-radius: 100px;
}
.support img{
    margin-left: 430px;
    border-radius: 60%;
}
.course-text5 h4{ 
    background-color: rgba(0, 0, 255, 0.418);
    margin: 0px 50px;
    text-align: center;
    color: rgba(245, 245, 245, 0.932);
}
.course-text5 p{
    text-align: center;
    padding: 0px 40px;
    margin: 10px  70px;
}
.fees{
    background-color: rgba(241, 241, 200, 0.568);
    margin: 10px;
    padding: 20px 15px;
    border-radius: 10px 70px;
    font-size: 17px;
    font-family: 'Roboto';
}
.fees h2{
    color: rgba(218, 73, 6, 0.89);
    text-align: center;
}
.fees h4{
    margin-left: 40px;
}
.fee-text1{
    display: flex;
    background-color: rgba(220, 220, 220, 0.514);
    margin: 20px;
    padding: 0px 40px;
    justify-content: space-between;
    border-radius: 20px 10px;
}
.fee-text-p{
    padding: 15px;
    font-size: 19px;
}
.fee-text-p strong{
    color: rgba(27, 1, 1, 0.918);
}
.fee-text1 img{
    padding-top: 10px;
    width: 200px;
    height: 200px;
}
.fee-text2 h5 {
    padding: 5px 40px;
}
.fee-text2 img{
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-left: 500px;
    margin-bottom: 20px;
}
.fee-text2 p {
  padding: 0px 40px;
}
.fee-text2 h4{
    color: rgb(19, 5, 32);
}
.fee-text2 p strong{
    color: rgb(19, 5, 32);  
}
.fee-text3{
    background-color: #92c79233;
    margin: 20px;
    padding: 20px 25px;
}
.fee-text-image{
    display: flex;
    justify-content: center;
    gap:30px;
}
.fee-text-image img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.fee-aid-image{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.scholarships{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.scholarship1 img{
    width: 350px;
    height: auto;
    border: 1px solid red;
    border-radius: 50%;
    margin: 30px;
}
.scholarship2 img{
    width: 500px;
    margin-top: 55px;
    margin-left: 30px;
}

.fee-aid-image img{
    justify-content: center;
    width: 300px;
    height: 300px;
}
.fee-text3 h4{
    text-align: center;
}
.fee-text3 p strong{
    color: rgb(39, 17, 1);
}
.fee-text4 p{
    margin: 0px 40px;
}
.fee-text4 h4{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}
.fee-text5{
    margin: 20px;
    padding: 0px 20px;
    text-align: center;
}
.fee-text5 h3{
    background-color: black;
    color: white;
}
.feesfunds button{
    border: none;
    background-color: #be2222d0;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    color: whitesmoke;
    margin-left: 20px;
}
.distance{
    background-color: rgba(236, 201, 84, 0.26);
    margin: 10px;
    padding: 20px;
    border-radius: 20px 100px;
    font-size: 18px;
    font-family: 'Roboto';
}
.distance-images{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    gap:10px
}
.distance-images img{
    width: 50%;
    border-radius: 0 0 40px 0;
}
.distance h2{
    text-align: center;
    padding: 10px;
    color: black;
}
.distance2 {
    font-family: 'Roboto';
    padding: 20px;
}
.distance2 h4{
    color: #d32a2a;
}
.distance-text1, .distance-text3{
    margin: 0px;
    padding:10px 20px;
    font-size: 20px;
}
.distance-image{
    display: flex;
    justify-content: center;
}
.distance-image img{
    margin-left: 10px;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 30px;
    width: 500px;
    height: 400px;
}
.distance-text1 h4, .distance-text3 h4{
    color: #13010be3;
}
.distance-text1 p, .distance-text3 p{
    color: rgba(3, 16, 19, 0.911);
}
.distance-text1 p strong, .distance-text3 p strong{
    color: black;
}
.distance-text2, .distance-text4{
  background-color: rgba(245, 222, 179, 0.486);
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
}
.distance-text5{
    padding: 20px;
}
.distance-text5 h4{
  background-color: rebeccapurple;
  text-align: center;
  color: white;
}
.distance-text5 p{
    text-align: center;
}
.distance-course button{
    border: none;
    background-color: #be2222d0;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    color: whitesmoke;
    margin-left: 20px;
}