.event-section {
  transition: transform 0.2s ease-in-out;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}

.event-section *, .events-list *  {
  font-size: 26px;
}

.event-section:hover {
  transform: translateY(-5px);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters button {
  margin: 0 5px;
}

img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
