.rules-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333; 
  height: auto;

  
}

.rules-container h1 {
  font-size: 2em;
  color: #003366; 
  margin-bottom: 20px;
}

.rules-container p {
  font-size: 1em;
  color: #666; 
  margin-bottom: 20px;
  text-align: center;
}

.rules-container ul {
  list-style-type: none;
  padding-left: 0;
  width: 900px;
  height: auto;
  text-align: center;
  
}

.rules-container li {
  padding: 15px; 
  margin-bottom: 15px; 
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 8px; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
}

.rules-container h2 {
  font-size: 1.5em;
  color: #0066cc; 
  margin-bottom: 5px;
  text-align: center;
}

.rules-container li p {
  font-size: 1em;
  color: #333; 
  margin: 0;
  text-align: center;
}

.rules-img{
  width: 1250px;
  padding-left: 910px;
  
  
}

.rules-img{
  padding-right: 100px;
}