

.faculty-container {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f1e7e7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .faculty-container h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .faculty-container p {
    font-size: 1em;
    color: #9e9a9a;
    margin-bottom: 20px;
  }
  
  .faculty-container ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .faculty-container li {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #d6cdcd;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  
  .faculty-container h2 {
    font-size: 1.5em;
    color: #007BFF;
    margin-bottom: 10px;
  }
  
  .faculty-container p {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
  }
  

  
  .faculty-container a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .faculty-container a:hover {
    text-decoration: underline;
  }
  